@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@media(max-width:770px) {
	.wrapper {
		margin: 0 10%
	}
}


.logo {
	height: 200px;
}

.App {
	text-align: center;
	font-family: 'Lora', serif;
	background-color: rgb(255, 236, 200);
	height: 200px;
}

.welcome {
	font-family: 'Dancing Script', cursive;
	font-size: 75px;
}

.images {
	padding: 10px;
	height: 400px;
	width: 220px;
	display: flex;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
	margin: 5% 10% 5% 10%;
	align-items: center;
	padding-top: 90px;
}

#cartWrapper {
	background-color: rgb(233, 232, 232);
	align-content: center;

}


.cart {
	height: 40px;
	width: 40px;
	padding: 10px;
	cursor: pointer;
	font-size: 18px;
	float: right;
	margin-right: 10px;
}

.cartLength {
	font-size: 20px;
	float: right;
	margin-right: 280px;
	width: 20px;
	margin-top: 20px;
}

#back {
	float: right;
	padding: 10px;
	width: 80px;
	margin-top: 10px;
}

.button1 {
	display: inline-block;
	padding: 0.8em 1.5em;
	border: 0.1em solid rgb(197, 197, 195);
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: rgb(0, 0, 0);
	text-align: center;
	transition: all 0.2s;
}

.button1:hover {
	color: #000000;
	background-color: #c9c9c9;
}

@media all and (max-width: 30em) {
	a.button1 {
		display: block;
		margin: 0.4em auto;
	}

	.cartTop {
		border: 2px solid black;
		height: 50px;
	}

}

.table {
	text-align: center;
	float: right;
	height: 200px;
	width: 400px;
	border: black 1px solid;
}

.totalSummary {
	height: 500px;
	width: 400px;
	background-color: rgb(175, 174, 174);
	float: right;
	padding: 30px;
	margin-bottom: 40px;
	margin-left: 200px;
	align-content: center;
}

td th {
	width: auto;
	height: auto;
}

th {
	padding: 8px;
}

h1 {
	align-items: center;
}